<div class="animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card text-center bg-primary">
                <div class="card-body">
                    <h1>Bem vindo à plataforma da sua Farmácia</h1>
                </div>
            </div>
        </div>
    </div>
    <img src="../assets/img/main.png" alt="farmacia">
    <div class="row" >
        
    </div>
</div>

