<div class="card">
    <div class="card-header text-center">
        <h3>Informações Extra</h3>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    Quantidade de Prescrições aviadas nos últimos 7 dias
                </div>

                <div class="card-body">
                    <div class="chart-wrapper text-center">

                      <i class="fa fa-spin fa-spinner" *ngIf="pies.prescricoes.loading"></i>
                      <canvas baseChart class="chart"
                      [data]="pies.prescricoes.data"
                      [labels]="pies.prescricoes.labels"
                      chartType="doughnut" *ngIf="!pies.prescricoes.loading"></canvas>



                    </div>
                </div>

            </div>
        </div>




        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    TOP 3 Medicamentos mais prescritos
                </div>

                <div class="card-body">
                    <div class="chart-wrapper text-center">

                      <i class="fa fa-spin fa-spinner" *ngIf="pies.topmedicamentos.loading"></i>
                      <canvas baseChart class="chart"
                      [labels]="pies.topmedicamentos.labels"
                      [data]="pies.topmedicamentos.data"
                      chartType="doughnut" *ngIf="!pies.topmedicamentos.loading"></canvas>



                    </div>
                </div>

            </div>
        </div>

  </div>
</div>
