<div class="animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card text-center bg-primary">
                <div class="card-body">
                    <h1>Bem vindo à plataforma de Prescrição de Medicamentos</h1>
                </div>
            </div>
        </div>
    </div>


        <div class="col-lg-7 col-md-12" *ngIf="authService.hasRole('medico')">
            <div class="card">
                <div class="card-header">
                    Prescrições realizadas
                </div>
                <div class="card-body">
                    <div class="chart-wrapper text-center">
                        <i class="fa fa-spin fa-spinner" *ngIf="pies.prescricoes.loading"></i>
                        <canvas baseChart class="chart"
                        [data]="pies.prescricoes.data"
                        [labels]="pies.prescricoes.labels"
                        chartType="doughnut" *ngIf="!pies.prescricoes.loading"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-7 col-md-12" *ngIf="authService.hasRole('utente')">
            <div class="card">
                <div class="card-header">
                    Prescrições a expirar
                </div>
                <div class="card-body">
                    <div class="chart-wrapper text-center">
                        <i class="fa fa-spin fa-spinner" *ngIf="pies.utente.loading"></i>
                        <canvas baseChart class="chart"
                        [data]="pies.utente.data"
                        [labels]="pies.utente.labels"
                        chartType="doughnut" *ngIf="!pies.utente.loading"></canvas>
                    </div>
                </div>
            </div>
        </div>


</div>
