<div class="card">
    <div class="card-header text-center">
        <h3>Informações Extra</h3>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    Quantidade de Receitas prescritas nos últimos 7 dias
                </div>

                <div class="card-body">
                    <div class="chart-wrapper text-center">

                      <i class="fa fa-spin fa-spinner" *ngIf="pies.receitas.loading"></i>
                      <canvas baseChart class="chart"
                      [data]="pies.receitas.data"
                      [labels]="pies.receitas.labels"
                      chartType="doughnut" *ngIf="!pies.receitas.loading"></canvas>



                    </div>
                </div>

            </div>
        </div>




        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    Medicamentos mais prescritos
                </div>

                <div class="card-body">


                      <div class="chart-wrapper text-center">

                        <i class="fa fa-spin fa-spinner" *ngIf="pies.topmedicamentos.loading"></i>
                        <canvas baseChart class="chart"
                        [data]="pies.topmedicamentos.data"
                        [labels]="pies.topmedicamentos.labels"
                        chartType="doughnut" *ngIf="!pies.topmedicamentos.loading"></canvas>



                    </div>
                </div>

            </div>
        </div>

  </div>
</div>
