<div class="card">
    <div class="card-header text-center">
        <h4>Prescrições por aviar</h4>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <label class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-form-label" for="search">Data limite:</label>
            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-xs-8">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" id="search" class="form-control" [minDate]="minDate" name="search" bsDatepicker [(bsValue)]="searchValue" (bsValueChange)="search($event)" [bsConfig]="bsConfig">
                    <span class="input-group-btn" *ngIf="searchValue">
                            <button class="btn btn-secondary" type="button" (click)="clearSearch()">
                                <i class="fa fa-times"></i>
                            </button>
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-striped table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Fármaco</th>
                            <th>Apresentação</th>
                            <th>Medicamento</th>
                            <th>Posologia</th>
                            <th>Data de validade</th>
                            <th>Quantidade restante</th>
                            <th>Estado</th>
                            <th>Aviamentos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="loading">
                            <td colspan="8" class="text-center">
                                <i class="fa fa-spin fa-spinner"></i>
                            </td>
                        </tr>
                        <tr *ngIf="!loading && prescricoes.length == 0">
                            <td colspan="8" class="text-center">Não tem prescrições por aviar</td>
                        </tr>
                        <tr *ngFor="let prescricao of prescricoes">
                            <td>{{prescricao.nomeFarmaco}}</td>
                            <td>{{prescricao.forma}}, {{prescricao.concentracao}}, {{prescricao.embalagem}}</td>
                            <td>{{prescricao.nomeMedicamento}}</td>
                            <td>{{prescricao.posologia}}</td>
                            <td>{{prescricao.dataValidade | formatDate}}</td>
                            <td>{{prescricao.quantidade}}</td>
                            <td>
                                <span *ngIf="prescricao.aviamentos.length == 0">Por aviar</span>
                                <span *ngIf="prescricao.aviamentos.length > 0 && prescricao.quantidade > 0">Parcialmente aviada</span>
                                <span *ngIf="prescricao.aviamentos.length > 0 && prescricao.quantidade == 0">Totalmente aviada</span>
                            </td>
                            <td>
                                <button type="button" title="Ver aviamentos" class="btn btn-primary" (click)="showDispatches(prescricao)">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>