<div class="app flex-row align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card mx-4">
					<div class="card-body p-4">
						<h1>Registe-se</h1>
						<p class="text-muted">Crie a sua conta</p>
						<div class="input-group mb-3">
							<span class="input-group-addon">
								<i class="fa fa-envelope"></i>
							</span>
							<input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="email">
						</div>

						<div class="input-group mb-3">
							<span class="input-group-addon">
								<i class="fa fa-user"></i>
							</span>
							<input type="text" class="form-control" placeholder="Nome" name="name" [(ngModel)]="name">
						</div>

						<div class="input-group mb-3">
							<span class="input-group-addon">
								<i class="fa fa-lock"></i>
							</span>
							<input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password">
						</div>

						<div class="input-group mb-4">
							<span class="input-group-addon">
								<i class="fa fa-lock"></i>
							</span>
							<input type="password" class="form-control" placeholder="Repita a password" name="password2" [(ngModel)]="passwordConfirmation">
						</div>
						<div class="form-group">
							<label class="col-xs-3 control-label">Termos e Condições</label>
							<div class="col-xs-9">
								<div align="justify" style="border: 1px solid #e5e5e5; height: 200px; overflow: auto; padding: 10px;">
									<p>O Grupo de LAPR5-6616 formado em 2017, que opera no ramo da Gestão de Receitas e Medicamentos, tem como principal objectivo facilitar a elaboração de facturas
									e o seu respectivo levantamento.</p>
									<p>Os dados de segurança e de protecção de dados para os utentes desta aplicação são de especial importância para nós. 
									Comprometemo-nos a observar todas as determinações legais relativas à protecção de dados.</p>
									<p>A fim de receitar e aviar receitas, os dados pessoais como o e-mail e password são recolhidos, processados,
									utilizados e armazenados nos nossos servidores.</p>
									<p>Ao registar-se na aplicação, concorda expressamente com a utilização dos seus dados por nós e por subcontractados
									nossos, no âmbito acima mencionado, para fins de publicidade, consulta e apresentação do serviço, de acordo com necessidades.
									Não vamos fornecer o seu e-mail a terceiros, ou enviar-lhe qualquer tipo de publicidade de terceiros.</p>
									<p>O registo na aplicação tem um período mínimo de 1 ano. Passado este tempo os seus dados sao ocultos até que os volte a reactivar.</p>			
								</div>
							</div>
						</div>
					
						<div class="form-group">
							<div class="col-xs-6 col-xs-offset-3">
								<div class="checkbox">
									<label>
										<input type="checkbox" id="agree"/> Aceito os Termos e Condições
									</label>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-block btn-success mb-3" (click)="register()" [disabled]="loading">
                            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                            <i class="fa fa-save" *ngIf="!loading"></i>
							<span *ngIf="!loading">Criar conta</span>
                        </button>
                        <a class="btn btn-primary btn-block" routerLink="/auth/login">
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                            Já tenho conta. Iniciar sessão
                        </a>

						<div *ngIf="errors.length">
							<h2>Erros</h2>
							<ul class="bg-danger">
								<li *ngFor="let error of errors">
									{{error}}
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>