<div class="card">
    <div class="card-header text-center">
        <h3>Procurar uma receita</h3>
    </div>
    <div class="card-body">
        <form (ngSubmit)="search()" novalidate>
            <div class="form-group row">
                <label class="col-xl-2 col-md-3 col-sm-3 col-xs-4 col-form-label">
                    Insira o ID da Receita:
                </label>
                <div class="col-xl-4 col-md-4 col-sm-4 col-xs-8">
                    <div class="input-group">
                        <input type="text" name="name" class="form-control" [(ngModel)]="id">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit" [disabled]="loading">
                                <i class="fa fa-spin fa-spinner" *ngIf="loading"></i>
                                <i class="fa fa-search" *ngIf="!loading"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row" *ngIf="searched">
            <div class="col">
                <table class="table table-bordered table-striped table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Medico</th>
                            <th>Utente</th>
                            <th>Data de criação</th>
                            <th>Última alteração</th>
                            <th>Detalhes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!receita">
                            <td colspan="5" class="text-center">
                                Não existe nenhuma receita com esse ID
                            </td>
                        </tr>
                        <tr *ngIf="receita">
                            <td>{{receita.medico.name}}</td>
                            <td>{{receita.utente.name}}</td>
                            <td>{{receita.createdAt}}</td>
                            <td>{{receita.updatedAt}}</td>
                            <td>
                                <a class="btn btn-primary" [routerLink]="['/receitas', receita._id, 'detalhes']" title="Detalhes">
                                    <i class="fa fa-external-link" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>